<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
  <ul>
    <li>
      <a routerLinkActive="active" (click)="toggleSubmenu()">
        <span class="menu-icon material-icons">search</span>
        <span class="menu-text">Encontre seu Pet amigo aqui!</span>
        <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
          <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
        </span>
      </a>
      <ul *ngIf="isSubmenuOpen" class="sub-menu">
        <li><a routerLink="/dashboard" routerLinkActive="active"><span class="menu-icon material-icons">favorite</span><span class="menu-text">Petmatch!</span></a></li>
        <li><a routerLink="/dashboard/messages" routerLinkActive="active"><span class="menu-icon material-icons">message</span><span class="menu-text">Mensagens</span></a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/inicio" routerLinkActive="active">
        <span class="menu-icon material-icons">home</span>
        <span class="menu-text">Inicio</span>
      </a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active">
        <span class="menu-icon material-icons">forum</span>
        <span class="menu-text">Fórum</span>
      </a>
    </li>
    <li>
      <a routerLink="/schedule" routerLinkActive="active">
        <span class="menu-icon material-icons">pets</span>
        <span class="menu-text">Adote aqui</span>
      </a>
    </li>
    <li>
      <a a (click)="cadastrarPet()">
        <span class="menu-icon material-icons">add</span> 
        <span class="menu-text">Cadastrar Pet</span>
      </a>
    </li>
    <li>
      <a a (click)="config()">
        <span class="menu-icon material-icons">settings</span>
        <span class="menu-text">Configurações</span>
      </a>
    </li>
    <li>
      <a (click)="logout()">
        <span class="menu-icon material-icons">logout</span>
        <span class="menu-text">Sair</span>
      </a>
    </li>
  </ul>
</div>
