<div class="cadastro-pet-container">
  <h2>Cadastro de Pet</h2>
  <form [formGroup]="cadastroPetForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nome">Nome:</label>
      <input id="nome" formControlName="nome" />
      <div *ngIf="cadastroPetForm.get('nome')?.invalid && cadastroPetForm.get('nome')?.touched">
        Nome é obrigatório.
      </div>
    </div>

    <div>
      <label for="idade">Idade:</label>
      <input id="idade" type="number" formControlName="idade" />
      <div *ngIf="cadastroPetForm.get('idade')?.invalid && cadastroPetForm.get('idade')?.touched">
        Idade deve ser um número positivo.
      </div>
    </div>

    <div>
      <label for="tipo">Tipo:</label>
      <input id="tipo" formControlName="tipo" />
      <div *ngIf="cadastroPetForm.get('tipo')?.invalid && cadastroPetForm.get('tipo')?.touched">
        Tipo é obrigatório.
      </div>
    </div>

    <div>
      <label for="raca">Raça:</label>
      <input id="raca" formControlName="raca" />
      <div *ngIf="cadastroPetForm.get('raca')?.invalid && cadastroPetForm.get('raca')?.touched">
        Raça é obrigatória.
      </div>
    </div>

    <!-- Toggle Castrado -->
    <div>
      <label for="castrado">Castrado:</label>
      <select id="castrado" formControlName="castrado">
        <option [ngValue]="false">Não</option>
        <option [ngValue]="true">Sim</option>
      </select>
      <div *ngIf="cadastroPetForm.get('castrado')?.invalid && cadastroPetForm.get('castrado')?.touched">
        Castrado é obrigatório.
      </div>
    </div>
    
    <!-- Campo Porte -->
    <div>
      <label for="porte">Porte:</label>
      <select id="porte" formControlName="porte">
        <option value="" disabled>Selecione o porte</option>
        <option value="mini">Mini</option>
        <option value="pequeno">Pequeno</option>
        <option value="medio">Médio</option>
        <option value="grande">Grande</option>
        <option value="gigante">Gigante</option>
      </select>
      <div *ngIf="cadastroPetForm.get('porte')?.invalid && cadastroPetForm.get('porte')?.touched">
        Porte é obrigatório.
      </div>
    </div>

    <button type="submit" [disabled]="cadastroPetForm.invalid">Cadastrar Pet</button>
  </form>
</div>
