/* Estilo geral para o formulário */
form {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo para os rótulos dos campos */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Estilo para os campos de entrada */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo para o botão de submit */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #db2a2a;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 10px; /* Espaço entre os botões */
}

/* Estilo para a mensagem de erro */
.error-message {
  color: red;
  margin-top: 10px;
}

/* Estilo para o link de registrar */
.register-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}
